%h1 Listing horesases

%table
  - @horesase_boys.each do |boy|
    %tr
      %td
        %img{:src => boy['image']}
      %td
        %textarea{:style => "width:260px;height:100px"}= boy["body"]
%br

= link_to 'New Horesase', new_horesase_path
