%h1 Listing horesases

%table
  - @horesase_boys.each do |boy|
    %tr
      %td= boy['id']
      %td
        %img{:src => boy['image']}
      %td
        %textarea.horesase-body{"data-id" => boy["id"]}= boy["body"]
%br

= link_to 'New Horesase', new_horesase_path
